<div class="chart-layout">
    <div class="chart-box">
        <h2>Bar Chart</h2>
        <div echarts [options]="barChartOptions" style="height: 400px;width: -webkit-fill-available;"></div>
    </div>
    <div class="chart-box">
        <h2>Pie Chart</h2>
        <div echarts [options]="pieChartOptions" style="height: 400px;width: -webkit-fill-available;"></div>
    </div>
    <div class="chart-box">
        <h2>Line Chart</h2>
        <div echarts [options]="lineChartOptions" style="height: 400px;width: -webkit-fill-available;"></div>
    </div>
</div>

<!-- <div class="chart-box">
    <h2>Gauge Chart</h2>
    <div echarts [options]="gaugeChartOptions" style="height: 400px;"></div>
</div>
<div class="chart-box">
    <h2>Heatmap</h2>
    <div echarts [options]="heatmapOptions" style="height: 400px;"></div>
</div> -->